/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* Wrapper kontejner za kategorije */
#wrapper { width:100%; margin:0 auto;}

/* COOL ORANGE BUTTONS */
#cool_buttons {margin:-10px 0 10px 0px;float:left;position:relative;}
	#ie7 #cool_buttons {margin:-80px 0 0px 0px;}
#cool_buttons  a{color:white}
#cool_buttons  a:hover{color:white}

@font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.eot');
    src: url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../font/icomoon.woff') format('woff'),
         url('../font/icomoon.ttf') format('truetype'),
         url('../font/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.button, .button-bevel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 5px 5px 7px;
  margin: .5em 0 .5em 0;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;}
 
  #ie7 .button, 
  #ie7 .button-bevel {
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 18px;
	  color: #fff;
	  text-decoration: none;
	  display: inline-block;
	  text-align: center;
	  padding: 7px 5px 7px;
	  margin: .5em 0 .5em 0;
	  cursor: pointer;
	  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	  -webkit-transition: 0.1s linear;
	  -moz-transition: 0.1s linear;
	  -ms-transition: 0.1s linear;
	  -o-transition: 0.1s linear;
	  transition: 0.1s linear;
    }
	
    #ie8 .button, 
    #ie8 .button-bevel { margin-left:0px;}
.orange {
  background: rgb(255,183,0);
  background: -moz-linear-gradient(top,  rgba(255,183,0,1) 0%, rgba(255,140,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,0,1)), color-stop(100%,rgba(255,140,0,1)));
  background: -webkit-linear-gradient(top,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700', endColorstr='#ff8c00',GradientType=0 );
  border: 1px solid #e59500;
}
  .orange:hover {
    background: rgb(255,203,72);
    background: -moz-linear-gradient(top,  rgba(255,203,72,1) 0%, rgba(255,156,35,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,203,72,1)), color-stop(100%,rgba(255,156,35,1)));
    background: -webkit-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb48', endColorstr='#ff9c23',GradientType=0 );
  }
.red {
  background: #e25b53;
  background: -moz-linear-gradient(top,  #e25b53 0%, #dd2011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e25b53), color-stop(100%,#dd2011));
  background: -webkit-linear-gradient(top,  #e25b53 0%,#dd2011 100%);
  background: -o-linear-gradient(top,  #e25b53 0%,#dd2011 100%);
  background: -ms-linear-gradient(top,  #e25b53 0%,#dd2011 100%);
  background: linear-gradient(to bottom,  #e25b53 0%,#dd2011 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e25b53', endColorstr='#dd2011',GradientType=0 );
  border: 1px solid #c42222;
}
  .red:hover {
    background: #dd7671;
    background: -moz-linear-gradient(top,  #dd7671 0%, #dd2011 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd7671), color-stop(100%,#dd2011));
    background: -webkit-linear-gradient(top,  #dd7671 0%,#dd2011 100%);
    background: -o-linear-gradient(top,  #dd7671 0%,#dd2011 100%);
    background: -ms-linear-gradient(top,  #dd7671 0%,#dd2011 100%);
    background: linear-gradient(to bottom,  #dd7671 0%,#dd2011 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd7671', endColorstr='#dd2011',GradientType=0 );
  }
.button-bevel {
  vertical-align: top;
  border-radius: 4px;
  border: none;
  padding: 10px 22px 12px 21px;
}

#ie7 .button-bevel {
  vertical-align: top;
  border-radius: 4px;
  border: none;
  padding: 10px 20px 12px 20px;
}
.button-bevel:active {position: relative; top: 5px;} 
#ie7 .button-bevel:active {position: relative; top: 0px;}
.button-bevel.orange { box-shadow: #c46d00 0 6px 0px, rgba(0, 0, 0, 0.3) 0 10px 3px;}
.button-bevel.orange:active {  box-shadow: #c46d00 0 3px 0, rgba(0, 0, 0, 0.2) 0 6px 3px;}  
.button-bevel.red { box-shadow: #88180e 0 6px 0px, rgba(0, 0, 0, 0.3) 0 10px 3px;}
.button-bevel.red:active { box-shadow: #88180e 0 3px 0, rgba(0, 0, 0, 0.2) 0 6px 3px;}
/*#ie7 .button-bevel.red { left:-3px;}*/
.button span, .button-bevel span {
  font-family: 'icomoon';
  font-size: 15px;
  font-weight: normal;
  line-height: 0;
  margin-right: 5px;
}

  .icon-love:after { content: "\23";}
  .icon-air:after { content: "\26";}
  .icon-like:after { content: "\22";}
  .icon-shuffle:after { content: "\25";}
  .icon-comment:after { content: "\24";}
  .icon-email:after { content: "\21";}
  
.sirina_dugmica {
	width:150px;
}
